<div class="mb-lg-10">
    <p class="subtitle-sm" data-scroll data-scroll-speed="2" data-scroll-position="top">Hello there!</p>
    <h1 class="display-1 mb-4" data-scroll data-scroll-speed="4" data-scroll-position="top">I am Jenny Smith</h1>
    <p data-scroll data-scroll-speed="6" data-scroll-position="top" class="lead typed-elem">London-based freelance <span class="fw-bold text-highlight" data-typed='{"backSpeed": 50,"strings": ["frontend developer", "fullstack developer", "web designer", "UX designer"]}'></span><span class="d-block">specializing in Magento, Wordpress & Shopify development</span></p>
</div>