<!-- Footer-->
{{#if show-cta}}
<div class="d-flex align-items-center justify-content-center flex-column col-lg-7 col-xl-6 col-xxl-5 text-center mx-auto mt-5 px-4 px-md-0 mt-lg-10" data-scroll-section>
    <h4 class="display-5 mb-5" data-scroll data-scroll-speed=".8" data-scroll-delay="0.05">Ready to discuss your project requirements?</h4>
    <a href="{{webRoot}}/contact.html" class="btn btn-primary">Get In Touch</a>
</div>
{{/if}}

<footer class="border-top mt-10 pt-5 pb-8 {{configClassList}} {{classList}}" data-scroll-section>
<div class="container d-flex justify-content-between">
    <p class="small">All rights reserved. © Jenny Smith 2021. Template created by <a class="link-body" href="https://www.pixelrocket.store">Pixel Rocket</a></p>
    <ul class="list-unstyled d-flex align-items-center">
        <li class="ms-3"><a class="text-decoration-none text-muted" href="#"><i class="ri-github-fill"></i></a></li>
        <li class="ms-3"><a class="text-decoration-none text-muted" href="#"><i class="ri-facebook-fill"></i></a></li>
        <li class="ms-3"><a class="text-decoration-none text-muted" href="#"><i class="ri-twitter-fill"></i></a></li>
    </ul>
</div>
</footer>
<!-- / Footer-->
