<div class="card card-testimonial">
    <div class="card-body">
      <p class="mb-1">
          "{{ testimonial }}"
      </p>
      <div class="d-flex align-items-center mt-4">
          <picture class="avatar me-3">
              <img class="img-fluid rounded-circle" src="{{ img }}" alt="{{ config.defaultImgAlt }}">
          </picture>
          <div>
              <p class="small fw-bolder mb-2 lh-1">{{ person }}</p>
              <p class="small text-muted m-0 lh-1">{{ title }}</p>
          </div>
      </div>
    </div>
</div>